<style>
    p {
        font-style: italic;
        text-align: center;
        color: green;
        background:black;
        
    }

    .Class_A {
        color: blue;
    }

</style>